<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat Da Burger!</title>
	{{!-- <!--Bootstrap--> --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	{{!-- <!--Google Fonts--> --}}
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nanum+Gothic&family=PT+Serif&family=Shadows+Into+Light&display=swap"
		rel="stylesheet">
	{{!-- <!--Animate CSS--> --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
	{{!-- <!--Font awesome--> --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
		{{!-- jQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- javascript page --}}
	<script src="/assets/js/burger.js"></script>
</head>

<body class ="container">
	{{{ body }}}
</body>

</html>